*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
   
    
}
 /* -------------------
 First Section Style 
 -------------------- */
 .container{
    width: 90%;
    padding: 50px;
    height: 100%;
 }
.banner{
  
    border: 1px solid;
    border-radius: 20px;
    background-color: #000;
    display: flex;
   

   
}
.banner-title{
    margin: 80px;
    width: 50%;
    color: white;
}

.banner-title h1{
    font-size: 50px;
}
.banner-text{
    font-size: 18px;
    padding: 20px 0;
}
.b-text{
    color: red;
}
.banner-title button{
    height: 56px;
    width: 150px;
    background: red;
    border-radius: 5px;
}
.btn-angkor{
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.banner-img {
    width: 600px;
}
.banner-img img{
    height:100%;
    width: 100%;
    
}
.fa-solid{
    padding-left: 10px;
}
/*-----------------
 Second Section STyle 
 ------------------- */
.page-link{
    height: 312px;
    width: 270px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #000;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.page-link button{
height: 64px;
width: 242px;
border-radius: 10px;
background-color: red;
}

.article-img img{
    height: 50%;
    width: 100%;
    border-radius: 10px 10px 0 0;

}
article{
    border: 1px solid;
    border-radius: 10px;
    height: 312px;
    width: 330px;
}
.writer{
    border: 1px solid;
    border-radius: 5px;
    width: 80px;
}
.fam-icons{
    display: flex;
  
}
.fam-icons p{
    padding-right: 20px;
}
.article-text{
    padding: 20px;
}
.blogs{
    display: flex;
    
}
.articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
